{
 "openapi": "3.1.0",
 "info": {
  "title": "Tillo API v2",
  "version": "2.0.0",
  "license": {
   "name": "Proprietary",
   "url": "https://tillo.tech/terms"
  },
  "contact": {
   "name": "Tillo Support",
   "url": "https://tillo.tech",
   "email": "support@tillo.io"
  },
  "description": "This version of our API is intended to be an incremental improvement from v1, keeping core concepts the same so that the transition path is as straightforward as possible. To learn more about Tillo and our platform, visit [tillo.com](https://tillo.com).\n\n## Authentication & Signature Generation\n\nAll API requests require HMAC-SHA256 signature authentication using the following headers:\n\n- `API-Key`: Your API key\n- `Signature`: HMAC-SHA256 signature of the request\n- `Timestamp`: Unix timestamp in milliseconds\n\nThe signature is generated using a standard algorithm: concatenate components with hyphens, then compute HMAC-SHA256.\n\n**Signature Components (in order):**\n\n1. **API Key** (always)\n2. **HTTP Method** (always)\n3. **Transaction Type** - derived from URL path without `/api/v2/` (always)\n4. **Request Parameters** - only included if present in request (conditional)\n5. **Timestamp** in milliseconds (always)\n\n**GET Request Format:**\n\n```\n{API_KEY}-{HTTP_METHOD}-{TRANSACTION_TYPE}-{BRAND?}-{TIMESTAMP}\n```\n\n- `TRANSACTION_TYPE`: Derived from URL path (e.g., \"brands\", \"check-stock\")\n- `BRAND`: Only included if present as query parameter\n\nExamples - Without brand: `abc123-GET-brands-1533025425488`\n\nExamples - With brand: `abc123-GET-check-stock-mock-brand-1533025425488`\n\n**POST/PUT/DELETE Request Formats:**\n\nThe API accepts two signature formats (both are valid):\n\nSimplified Format (recommended):\n```\n{API_KEY}-{HTTP_METHOD}-{TRANSACTION_TYPE}-{CLIENT_REQUEST_ID}-{BRAND}-{TIMESTAMP}\n```\n\nFull Format (also accepted):\n```\n{API_KEY}-{HTTP_METHOD}-{TRANSACTION_TYPE}-{CLIENT_REQUEST_ID}-{BRAND}-{CURRENCY}-{AMOUNT}-{TIMESTAMP}\n```\n\nParameter Definitions:\n- `CLIENT_REQUEST_ID`: Unique 5-50 character alphanumeric string per request\n- `BRAND`: Brand slug from request body (optional - omit if not present)\n- `CURRENCY`: ISO currency code (optional - only in full format)\n- `AMOUNT`: Face value amount (optional - only in full format)\n\n**Important:** Parameters are only included if they exist in the request. Missing parameters are omitted entirely (not added as empty strings).\n\nExamples - Simplified: `abc123-POST-digital-issue-xyz789randomid123456789-amazon-1533025425488`\n\nExamples - Full format: `abc123-POST-digital-issue-xyz789randomid123456789-amazon-GBP-25.00-1533025425488`\n\nExamples - No optional params: `abc123-POST-float-request-payment-transfer-1533025425488`\n\n**Transaction Type Extraction:**\n\nRemove `/api/v2/` from the path and join remaining segments with hyphens:\n- `/api/v2/brands` → `brands`\n- `/api/v2/digital/issue` → `digital-issue`\n- `/api/v2/float/request-payment-transfer` → `float-request-payment-transfer`\n\n**Final Step:**\n\nHash the concatenated string using HMAC-SHA256:\n```javascript\nconst signature = CryptoJS.HmacSHA256(signatureString, secretKey).toString();\n```\n\n---\n\nFor additional information including authentication, managing credentials, and other details, please visit [https://tillo.tech/v2_docs/](https://tillo.tech/v2_docs/)\n\nFor v1 documentation, visit [https://tillo.tech/v1/index.html](https://tillo.tech/v1/index.html)\n\nFor error codes, visit [https://tillo.tech/error_codes/](https://tillo.tech/error_codes/)\n"
 },
 "servers": [
  {
   "url": "https://sandbox.tillo.dev/api/v2",
   "description": "Sandbox"
  }
 ],
 "security": [
  {
   "APIKey": [],
   "HMACSignature": [],
   "Timestamp": []
  }
 ],
 "tags": [
  {
   "name": "Digital Gift Cards",
   "description": "Operations for managing digital gift cards"
  }
 ],
 "paths": {
  "/digital/issue": {
   "delete": {
    "operationId": "deleteDigitalIssue",
    "summary": "Digital Cancellation",
    "description": "Cancel an issued digital gift card.\n\nYou must provide either a Code or URL from the original issue response. You cannot provide both.\n\nIf you are cancelling a Reward Pass product, you only need to provide the original client request ID from the original issue response. You don't need a code or URL in this case.\n\nPlease note, not all brands support the ability to cancel. You can determine which brands are eligible for cancellation by checking whether it has the `cancelled_digital_issuance` transaction type from the GET /api/v2/brands endpoint.\n",
    "tags": [
     "Digital Gift Cards"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/DigitalIssueDeleteRequest"
       },
       "examples": {
        "cancel_by_code": {
         "summary": "Cancel Digital Gift Card by Code",
         "description": "Cancel a digital gift card using the gift card code (for code-delivery brands)",
         "value": {
          "client_request_id": "req-12345-67890",
          "original_client_request_id": "orig-req-12345-67890",
          "brand": "mock-brand",
          "face_value": {
           "amount": 25,
           "currency": "GBP"
          },
          "code": "ABC123456789",
          "sector": "voluntary-benefits"
         }
        },
        "cancel_by_code_and_pin": {
         "summary": "Cancel Digital Gift Card by Code and PIN",
         "description": "Cancel a digital gift card using the gift card code and PIN (for code-delivery brands that require a PIN)",
         "value": {
          "client_request_id": "req-12345-67890",
          "original_client_request_id": "orig-req-12345-67890",
          "brand": "mock-brand",
          "face_value": {
           "amount": 25,
           "currency": "GBP"
          },
          "code": "ABC123456789",
          "pin": "1234",
          "sector": "voluntary-benefits"
         }
        },
        "cancel_by_url": {
         "summary": "Cancel Digital Gift Card by URL",
         "description": "Cancel a digital gift card using the gift card URL (for URL-delivery brands)",
         "value": {
          "client_request_id": "req-12345-67890",
          "original_client_request_id": "orig-req-12345-67890",
          "brand": "mock-brand",
          "face_value": {
           "amount": 25,
           "currency": "GBP"
          },
          "url": "https://example.com/gift-card",
          "sector": "voluntary-benefits"
         }
        },
        "cancel_reward_pass_by_original_client_request_id": {
         "summary": "Cancel Reward Pass by Original Client Request ID",
         "description": "Cancel a Reward Pass product using the original client request ID (for Reward Pass products)",
         "value": {
          "client_request_id": "req-54321-67890",
          "original_client_request_id": "orig-req-12345-67890",
          "brand": "example-reward-pass-brand",
          "face_value": {
           "amount": 5,
           "currency": "GBP"
          },
          "sector": "voluntary-benefits"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "headers": {
       "X-RateLimit-Limit": {
        "schema": {
         "type": "integer"
        },
        "description": "The number of requests you are allowed to make to this endpoint within a 60 second window"
       },
       "X-RateLimit-Remaining": {
        "schema": {
         "type": "integer"
        },
        "description": "The number of requests you have remaining within your 60 second window"
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/DigitalIssueDeleteResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        },
        "examples": {
         "invalid_original_client_request_id_format": {
          "summary": "Example when original client request ID has invalid format",
          "value": {
           "code": "070",
           "status": "error",
           "message": "There were errors validating the request",
           "data": {
            "originalClientRequestId": [
             "The original client request id may only contain letters, numbers, dashes and underscores."
            ]
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        },
        "examples": {
         "invalid_original_client_request_id": {
          "summary": "Example when provided a valid original client request ID but it does not match the original issuance request.",
          "value": {
           "code": "433",
           "status": "error",
           "message": "There were errors validating the request",
           "data": {
            "client_request_id": "Invalid originalClientRequestID"
           }
          }
         },
         "brand_mismatch": {
          "summary": "Example when attempting to cancel a gift code of a different brand.",
          "value": {
           "code": "433",
           "status": "error",
           "message": "There were errors validating the request",
           "data": {
            "brand": "Attempting to cancel a gift code of a different brand"
           }
          }
         },
         "invalid_original_client_request_id_and_url_combination": {
          "summary": "Example when providing an original client request ID and URL combination that does not match the original issuance request.",
          "value": {
           "code": "100",
           "status": "error",
           "message": "Invalid [original_client_request_id] and [url] combination"
          }
         },
         "transaction_type_not_available": {
          "summary": "Example when the brand does not support cancellation transaction type",
          "value": {
           "code": "720",
           "status": "error",
           "message": "The transaction type is not available for the requested brand"
          }
         }
        }
       }
      }
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        },
        "examples": {
         "internal_server_error": {
          "summary": "Example when we have an internal server error",
          "value": {
           "code": "600",
           "status": "error",
           "message": "Internal server error"
          }
         }
        }
       }
      }
     },
     "502": {
      "description": "Bad Gateway No response body is returned.\n"
     },
     "504": {
      "description": "Gateway Timeout No response body is returned.\n"
     }
    }
   },
   "post": {
    "description": "Issue a new digital gift card",
    "operationId": "postDigitalIssue",
    "summary": "Digital Issuance (Sync)",
    "tags": [
     "Digital Gift Cards"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/DigitalIssuePostRequest"
       },
       "examples": {
        "issue_gift_card_with_url": {
         "summary": "Issue Digital Gift Card - URL",
         "description": "Simple example of issuing a URL",
         "value": {
          "client_request_id": "019ade93-d513-776b-92a2-b6323329b661",
          "brand": "fixed-sync-uk",
          "face_value": {
           "amount": 10,
           "currency": "GBP"
          },
          "delivery_method": "url",
          "fulfilment_by": "partner",
          "sector": "gift-card-mall"
         }
        },
        "issue_gift_card_with_code": {
         "summary": "Issue Digital Gift Card - Code",
         "description": "Simple example of issuing a Code",
         "value": {
          "client_request_id": "019ade93-d513-776b-92a2-b6323329b661",
          "brand": "sync-open-code-uk",
          "face_value": {
           "amount": 25,
           "currency": "GBP"
          },
          "delivery_method": "code",
          "fulfilment_by": "partner",
          "sector": "marketplace"
         }
        },
        "issue_gift_card_with_personalisation": {
         "summary": "Issue Digital Gift Card - with Personalisation",
         "description": "Example of issuing a Digital gift card with personalisation options",
         "value": {
          "client_request_id": "019ade93-d513-776b-92a2-b6323329b661",
          "brand": "open-sync-eur",
          "face_value": {
           "amount": 20.5,
           "currency": "EUR"
          },
          "delivery_method": "url",
          "fulfilment_by": "partner",
          "personalisation": {
           "to_name": "Recipient",
           "from_name": "Sender",
           "message": "Here is your gift",
           "template": "standard"
          },
          "sector": "voluntary-benefits"
         }
        },
        "issue_gift_card_with_fulfilment_by_tillo": {
         "summary": "Issue Digital Gift Card - with fulfilment by Tillo",
         "description": "Example of issuing a Digital gift card with Tillo handling the email fulfilment",
         "value": {
          "client_request_id": "019ade93-d513-776b-92a2-b6323329b661",
          "brand": "fixed-sync-us",
          "face_value": {
           "amount": 20,
           "currency": "USD"
          },
          "delivery_method": "url",
          "fulfilment_by": "rewardcloud",
          "fulfilment_parameters": {
           "to_name": "Receiver",
           "to_email": "test@tillo.io",
           "from_name": "Partner name",
           "from_email": "noreply@sandbox.tillo.dev",
           "subject": "[TestCode] Here is your gift card!"
          },
          "personalisation": {
           "to_name": "Recipient",
           "from_name": "Sender",
           "message": "Here is your gift",
           "template": "standard"
          },
          "sector": "voluntary-benefits"
         }
        },
        "issue_choice_link_with_theme": {
         "summary": "Issue Choice Link - with custom theme",
         "description": "Choice Link with customised theme.",
         "value": {
          "client_request_id": "019ade93-d513-776b-92a2-b6323329b661",
          "brand": "choiceplus-mock-uk",
          "face_value": {
           "amount": 20,
           "currency": "GBP"
          },
          "delivery_method": "url",
          "fulfilment_by": "partner",
          "personalisation": {
           "to_name": "Recipient",
           "from_name": "Sender",
           "message": "Happy Birthday! Enjoy your gift card",
           "template": "standard",
           "choice_link_theme": "my-custom-theme"
          },
          "sector": "voluntary-benefits"
         }
        },
        "issue_open_loop_with_url": {
         "summary": "Issue Reward Pass - URL",
         "description": "Issue a Reward Pass product with a URL delivery",
         "value": {
          "client_request_id": "019ade93-d513-776b-92a2-b6323329b661",
          "brand": "open-loop-uk",
          "face_value": {
           "amount": 5,
           "currency": "GBP"
          },
          "delivery_method": "url",
          "fulfilment_by": "partner",
          "personalisation": {
           "message": "Here is your gift",
           "email_message": "Message to appear in payment notification email",
           "redemption_message": "Message to appear on participant portal",
           "carrier_message": "Message to appear on letter if physical card fulfilment"
          },
          "sector": "voluntary-benefits"
         }
        },
        "issue_open_loop_with_email": {
         "summary": "Issue Reward Pass - Email",
         "description": "Issue a Reward Pass product with an email delivery",
         "value": {
          "client_request_id": "019ade93-d513-776b-92a2-b6323329b661",
          "brand": "loop-card-uk",
          "face_value": {
           "amount": 5,
           "currency": "GBP"
          },
          "delivery_method": "email",
          "fulfilment_by": "partner",
          "personalisation": {
           "to_name": "Recipient",
           "from_name": "Sender",
           "message": "Here is your gift",
           "template": "standard",
           "email_message": "Message to appear in payment notification email",
           "redemption_message": "Message to appear on participant portal",
           "carrier_message": "Message to appear on letter if physical card fulfilment"
          },
          "sector": "voluntary-benefits"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Standard Issue Digital Code",
      "headers": {
       "X-RateLimit-Limit": {
        "schema": {
         "type": "integer"
        },
        "description": "The number of requests you are allowed to make to this endpoint within a 60 second window"
       },
       "X-RateLimit-Remaining": {
        "schema": {
         "type": "integer"
        },
        "description": "The number of requests you have remaining within your 60 second window"
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/DigitalIssuePostResponse"
        },
        "examples": {
         "issue_gift_card_with_url": {
          "summary": "Successful URL issuance",
          "description": "When successfully being issued a gift card when you have requested the URL delivery method",
          "value": {
           "code": "000",
           "status": "success",
           "message": "Card created successfully",
           "data": {
            "brand": "fixed-sync-uk",
            "url": "https://example.com",
            "face_value": {
             "amount": 5,
             "currency": "GBP"
            },
            "cost_value": {
             "amount": 4.5,
             "currency": "GBP"
            },
            "discount": 10,
            "expiration_date": "2027-12-02T23:59:59+00:00",
            "reference": "a8ecaf60-cf99-11f0-ad32-c1adc663ef75",
            "float_balance": {
             "amount": 9998771.7,
             "currency": "GBP"
            }
           }
          }
         },
         "issue_gift_card_with_code": {
          "summary": "Successful Code issuance",
          "description": "When successfully being issued a gift card when you have requested the code delivery method.",
          "value": {
           "code": "000",
           "status": "success",
           "message": "Card created successfully",
           "data": {
            "brand": "sync-open-code-uk",
            "code": "99998888777766665555",
            "pin": "1234",
            "face_value": {
             "amount": 5,
             "currency": "GBP"
            },
            "cost_value": {
             "amount": 4.5,
             "currency": "GBP"
            },
            "discount": 10,
            "expiration_date": "2027-12-02T23:59:59+00:00",
            "reference": "a8ecaf60-cf99-11f0-ad32-c1adc663ef75",
            "float_balance": {
             "amount": 9998771.7,
             "currency": "GBP"
            }
           }
          }
         }
        }
       }
      },
      "links": {
       "cancelDigitalGiftCardByUrl": {
        "operationId": "deleteDigitalIssue",
        "description": "Cancel the newly issued digital gift card by URL (used when delivery_method is 'url')",
        "requestBody": {
         "original_client_request_id": "$request.body#/client_request_id",
         "brand": "$request.body#/brand",
         "face_value": "$request.body#/face_value",
         "sector": "$request.body#/sector",
         "url": "$response.body#/data/url"
        }
       },
       "cancelDigitalGiftCardByCode": {
        "operationId": "deleteDigitalIssue",
        "description": "Cancel the newly issued digital gift card by code (used when delivery_method is 'code')",
        "requestBody": {
         "original_client_request_id": "$request.body#/client_request_id",
         "brand": "$request.body#/brand",
         "face_value": "$request.body#/face_value",
         "sector": "$request.body#/sector",
         "code": "$response.body#/data/code"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        },
        "examples": {
         "invalid_brand": {
          "summary": "Example when provided an invalid brand",
          "value": {
           "code": "072",
           "status": "error",
           "message": "The requested brand [abc123] does not exist"
          }
         },
         "delivery_method_not_supported": {
          "summary": "Example when requesting a delivery method that the brand does not support",
          "value": {
           "code": "713",
           "status": "error",
           "message": "You cannot deliver codes via [code] for [my-example-brand]"
          }
         }
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "422": {
      "$ref": "#/components/responses/UnprocessableEntity"
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        },
        "examples": {
         "internal_server_error": {
          "summary": "Example when we have an internal server error",
          "value": {
           "code": "600",
           "status": "error",
           "message": "Internal server error"
          }
         }
        }
       }
      }
     },
     "502": {
      "description": "Bad Gateway No response body is returned.\n"
     },
     "503": {
      "description": "Service Unavailable",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        },
        "examples": {
         "service_unavailable": {
          "summary": "Example when our hosting service is temporarily down",
          "value": {
           "code": "715",
           "status": "error",
           "message": "The URL hosting service is currently unavailable"
          }
         },
         "external_error": {
          "summary": "Example when we have an intermittent issue with a particular brand or processor",
          "value": {
           "code": "603",
           "status": "error",
           "message": "Error returned by the Processor"
          }
         }
        }
       }
      }
     },
     "504": {
      "description": "Gateway Timeout No response body is returned.\n"
     }
    }
   }
  },
  "/physical/activate": {
   "delete": {
    "operationId": "deletePhysicalActivate",
    "summary": "Cancel Activate Physical Card",
    "tags": [
     "Physical Gift Cards"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "client_request_id",
         "original_client_request_id",
         "brand",
         "face_value",
         "code",
         "sector"
        ],
        "properties": {
         "original_client_request_id": {
          "$ref": "#/components/schemas/OriginalClientRequestId"
         },
         "client_request_id": {
          "$ref": "#/components/schemas/ClientRequestId"
         },
         "brand": {
          "$ref": "#/components/schemas/BrandSlug"
         },
         "face_value": {
          "$ref": "#/components/schemas/FaceValue"
         },
         "code": {
          "type": "string",
          "minLength": 8,
          "maxLength": 110,
          "pattern": "^[a-zA-Z0-9._\\-:\\/]+$",
          "description": "The gift card number",
          "example": "123456789"
         },
         "pin": {
          "type": "string",
          "description": "The PIN number on the card, not all brands provide these.",
          "example": "1234"
         },
         "sector": {
          "$ref": "#/components/schemas/Sector"
         }
        }
       },
       "example": {
        "client_request_id": "req-12345-67891",
        "original_client_request_id": "req-12345-67890",
        "brand": "mock-brand",
        "face_value": {
         "amount": 25,
         "currency": "GBP"
        },
        "code": "123456789",
        "sector": "voluntary-benefits"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "code",
          "status",
          "message",
          "data"
         ],
         "properties": {
          "status": {
           "type": "string",
           "const": "success"
          },
          "code": {
           "type": "string",
           "minLength": 3,
           "maxLength": 3,
           "const": "000"
          },
          "message": {
           "type": "string",
           "example": "Card activation cancelled successfully"
          },
          "data": {
           "type": "object",
           "required": [
            "reference"
           ],
           "properties": {
            "reference": {
             "$ref": "#/components/schemas/Reference"
            },
            "float_balance": {
             "$ref": "#/components/schemas/MoneyAmount"
            }
           },
           "additionalProperties": false
          }
         },
         "additionalProperties": false
        },
        "example": {
         "code": "000",
         "status": "success",
         "message": "Card activation cancelled successfully",
         "data": {
          "reference": "acf52eb0-da6c-11f0-9168-7b24d6782c52",
          "float_balance": {
           "amount": 100,
           "currency": "GBP"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        },
        "example": {
         "code": "704",
         "status": "error",
         "message": "The face value must be between [0.01] and [100.00]"
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "422": {
      "description": "Validation error. Request data failed validation rules.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        },
        "examples": {
         "original_sale_mismatch": {
          "summary": "Mismatch with original activation",
          "description": "When cancelling an activation, the brand, amount and currency within the cancellation request body must match the original activation request.",
          "value": {
           "code": "433",
           "status": "error",
           "message": "There were errors validating the request",
           "data": {
            "brand": "Attempting to cancel a gift code of a different brand"
           }
          }
         },
         "sale_already_cancelled": {
          "summary": "Activation already cancelled",
          "description": "This error will occur when the physical activation you are trying to cancel has already been cancelled.",
          "value": {
           "code": "100",
           "status": "error",
           "message": "The gift code has already been cancelled"
          }
         }
        }
       }
      }
     },
     "502": {
      "description": "Bad Gateway. No response body is returned."
     },
     "504": {
      "description": "Gateway Timeout. No response body is returned"
     }
    },
    "description": "Cancel an activated physical gift card using the gift card number"
   },
   "post": {
    "operationId": "postPhysicalActivate",
    "summary": "Activate Physical Card",
    "tags": [
     "Physical Gift Cards"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "client_request_id",
         "brand",
         "face_value",
         "code",
         "sector"
        ],
        "properties": {
         "client_request_id": {
          "$ref": "#/components/schemas/ClientRequestId"
         },
         "brand": {
          "$ref": "#/components/schemas/BrandSlug"
         },
         "face_value": {
          "$ref": "#/components/schemas/FaceValue"
         },
         "code": {
          "type": "string",
          "minLength": 8,
          "maxLength": 110,
          "pattern": "^[a-zA-Z0-9 ._-]+$"
         },
         "pin": {
          "type": "string",
          "minLength": 3,
          "maxLength": 20,
          "pattern": "^[a-zA-Z0-9_-]+$"
         },
         "sector": {
          "$ref": "#/components/schemas/Sector"
         },
         "tags": {
          "$ref": "#/components/schemas/Tags"
         }
        }
       },
       "examples": {
        "physical_activate_with_code": {
         "summary": "Physical Activate - with code",
         "description": "Simple example of activating a physical gift card using just the code from the gift card.",
         "value": {
          "client_request_id": "req-12345-67890",
          "brand": "example-brand",
          "face_value": {
           "amount": 45,
           "currency": "GBP"
          },
          "code": "6280390102830976",
          "sector": "marketplace"
         }
        },
        "physical_activate_with_code_and_pin": {
         "summary": "Physical Activate - with code and pin",
         "description": "Simple example of activating a physical gift card using both the code and pin from the gift card.",
         "value": {
          "client_request_id": "req-12345-67891",
          "brand": "example-brand",
          "face_value": {
           "amount": 45,
           "currency": "GBP"
          },
          "code": "6280390102830976",
          "pin": "1234",
          "sector": "marketplace"
         }
        },
        "physical_activate_with_custom_tags": {
         "summary": "Physical Activate - with custom tags",
         "description": "Simple example of activating a physical gift card and providing some custom tags.",
         "value": {
          "client_request_id": "req-12345-67890",
          "brand": "example-brand",
          "face_value": {
           "amount": 45,
           "currency": "GBP"
          },
          "code": "6280390102830976",
          "sector": "marketplace",
          "tags": [
           "winter-promo",
           "physical"
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "code",
          "status",
          "message",
          "data"
         ],
         "properties": {
          "code": {
           "type": "string",
           "const": "000"
          },
          "status": {
           "type": "string",
           "const": "success"
          },
          "message": {
           "type": "string",
           "const": "Card activated successfully"
          },
          "data": {
           "type": "object",
           "required": [
            "brand",
            "code",
            "face_value",
            "cost_value",
            "discount",
            "reference"
           ],
           "properties": {
            "brand": {
             "$ref": "#/components/schemas/BrandSlug"
            },
            "code": {
             "type": "string",
             "example": "5045075988099901072"
            },
            "pin": {
             "type": "string",
             "example": "0936"
            },
            "face_value": {
             "$ref": "#/components/schemas/MoneyAmount"
            },
            "cost_value": {
             "$ref": "#/components/schemas/MoneyAmount"
            },
            "discount": {
             "$ref": "#/components/schemas/Discount"
            },
            "reference": {
             "$ref": "#/components/schemas/Reference"
            },
            "float_balance": {
             "$ref": "#/components/schemas/MoneyAmount"
            },
            "expiration_date": {
             "$ref": "#/components/schemas/ExpirationDate"
            },
            "url": {
             "type": "string",
             "format": "uri",
             "description": "Gift card URL (for URL-delivery brands)",
             "example": "https://example-gift-card.com"
            },
            "serial_number": {
             "$ref": "#/components/schemas/SerialNumber"
            },
            "security_code": {
             "$ref": "#/components/schemas/SecurityCode"
            }
           }
          }
         },
         "additionalProperties": false
        },
        "example": {
         "code": "000",
         "status": "success",
         "message": "Card activated successfully",
         "data": {
          "brand": "example-brand",
          "code": "8888777766665555",
          "pin": "1234",
          "face_value": {
           "amount": 5,
           "currency": "GBP"
          },
          "cost_value": {
           "amount": 4.5,
           "currency": "GBP"
          },
          "discount": 10,
          "reference": "a9a403c0-d9b9-11f0-8cb1-09a11602bcf6",
          "float_balance": {
           "amount": 95.5,
           "currency": "GBP"
          }
         }
        }
       }
      },
      "links": {
       "deletePhysicalActivate": {
        "description": "Cancel this activation using the DELETE endpoint.",
        "operationId": "deletePhysicalActivate",
        "parameters": {
         "original_client_request_id": "$request.body#/client_request_id",
         "code": "$response.body#/data/code",
         "pin": "$response.body#/data/pin"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        },
        "examples": {
         "brand_does_not_exist": {
          "summary": "Example when provided an invalid brand",
          "value": {
           "code": "072",
           "status": "error",
           "message": "The requested brand [example-brand] does not exist"
          }
         }
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "422": {
      "description": "Validation error. Request data failed validation rules.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        },
        "examples": {
         "buyer_does_not_support_transaction_type": {
          "summary": "Transaction type not supported on your account",
          "description": "This error may occur when your account has not been configured to allow certain physical gift card transactions",
          "value": {
           "code": "719",
           "status": "error",
           "message": "The transaction type is not supported by the partner"
          }
         },
         "brand_does_not_support_transaction_type": {
          "summary": "Transaction type not supported by brand",
          "description": "This error will occur when the requested brand does not support requested transaction type",
          "value": {
           "code": "720",
           "status": "error",
           "message": "The transaction type is not available for the requested brand"
          }
         }
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        },
        "examples": {
         "internal_error": {
          "summary": "Internal error",
          "value": {
           "code": "600",
           "status": "error",
           "message": "Internal error"
          }
         },
         "external_error": {
          "summary": "External error with third party providers",
          "value": {
           "code": "603",
           "status": "error",
           "message": "Error returned by the Processor"
          }
         }
        }
       }
      }
     },
     "502": {
      "description": "Bad Gateway No response body is returned."
     },
     "504": {
      "description": "Gateway Timeout No response body is returned"
     }
    },
    "description": "Load and Activate a physical gift card using the gift card number, and pin."
   }
  },
  "/physical/top-up": {
   "delete": {
    "operationId": "deletePhysicalTopUp",
    "summary": "Cancel Top-up on a Physical Card",
    "tags": [
     "Physical Gift Cards"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "client_request_id",
         "original_client_request_id",
         "brand",
         "face_value",
         "code",
         "sector"
        ],
        "properties": {
         "client_request_id": {
          "$ref": "#/components/schemas/ClientRequestId"
         },
         "original_client_request_id": {
          "$ref": "#/components/schemas/OriginalClientRequestId"
         },
         "brand": {
          "$ref": "#/components/schemas/BrandSlug"
         },
         "face_value": {
          "$ref": "#/components/schemas/FaceValue"
         },
         "code": {
          "type": "string",
          "minLength": 8,
          "maxLength": 110,
          "pattern": "^[a-zA-Z0-9:_\\-:\\/]+$"
         },
         "pin": {
          "$ref": "#/components/schemas/Pin"
         },
         "sector": {
          "$ref": "#/components/schemas/Sector"
         }
        }
       },
       "examples": {
        "with_code": {
         "summary": "Cancel with Code",
         "description": "Cancel top-up request with code",
         "value": {
          "client_request_id": "req-12345-67890",
          "original_client_request_id": "orig-req-12345-67890",
          "brand": "mock-brand",
          "face_value": {
           "amount": 22.35,
           "currency": "GBP"
          },
          "code": "6280390102830976",
          "sector": "marketplace"
         }
        },
        "with_code_and_pin": {
         "summary": "Cancel with Code and PIN",
         "description": "Cancel top-up request with code and PIN",
         "value": {
          "client_request_id": "req-12345-67891",
          "original_client_request_id": "orig-req-12345-67890",
          "brand": "mock-brand",
          "face_value": {
           "amount": 22.35,
           "currency": "GBP"
          },
          "code": "6280390102830976",
          "pin": "12562161",
          "sector": "marketplace"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "code",
          "status",
          "message",
          "data"
         ],
         "properties": {
          "code": {
           "type": "string",
           "minLength": 3,
           "maxLength": 3,
           "const": "000"
          },
          "status": {
           "type": "string",
           "const": "success"
          },
          "message": {
           "type": "string",
           "example": "Card top up cancelled successfully"
          },
          "data": {
           "type": "object",
           "required": [
            "reference"
           ],
           "properties": {
            "reference": {
             "$ref": "#/components/schemas/Reference"
            },
            "float_balance": {
             "$ref": "#/components/schemas/MoneyAmount"
            }
           }
          }
         }
        },
        "examples": {
         "cancellation_successful": {
          "summary": "Cancellation Successful",
          "description": "Top-up cancellation successful",
          "value": {
           "code": "000",
           "status": "success",
           "message": "Card top up cancelled successfully",
           "data": {
            "reference": "a491f1f0-0c75-11eb-af67-09b215648e5c",
            "float_balance": {
             "amount": 20763.3,
             "currency": "GBP"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request. Invalid or missing required parameters.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        },
        "examples": {
         "validation_error": {
          "summary": "Validation Error",
          "description": "Bad request with validation errors",
          "value": {
           "code": "704",
           "status": "error",
           "message": "There were errors validating the request",
           "data": {
            "amount": "The [amount] must be a number"
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "422": {
      "description": "Validation error. Request data failed validation rules.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        },
        "examples": {
         "validation_error": {
          "summary": "Validation Error",
          "description": "Request data failed validation rules",
          "value": {
           "code": "433",
           "status": "error",
           "message": "There were errors validating the request",
           "data": {
            "brand": [
             "The brand field is required."
            ],
            "face_value.amount": [
             "The amount must be a positive number."
            ]
           }
          }
         },
         "transaction_type_not_supported": {
          "summary": "Transaction Type Not Supported by Partner",
          "description": "The requested transaction type is not supported by the partner",
          "value": {
           "code": "719",
           "status": "error",
           "message": "The transaction type is not supported by the partner"
          }
         },
         "transaction_type_not_available": {
          "summary": "Transaction Type Not Available for Brand",
          "description": "The requested transaction type is not available for the requested brand",
          "value": {
           "code": "720",
           "status": "error",
           "message": "The transaction type is not available for the requested brand"
          }
         },
         "currency_not_found": {
          "summary": "Currency Not Found",
          "description": "The requested currency was not found",
          "value": {
           "code": "721",
           "status": "error",
           "message": "The requested currency was not found"
          }
         },
         "currency_not_supported_by_brand": {
          "summary": "Currency Not Supported by Brand",
          "description": "The requested currency is not supported by this brand",
          "value": {
           "code": "723",
           "status": "error",
           "message": "The requested currency is not supported by this brand"
          }
         }
        }
       }
      }
     },
     "500": {
      "description": "Internal server error. Error returned by the processor.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        },
        "examples": {
         "processor_error": {
          "summary": "Processor Error",
          "description": "Error returned by the processor",
          "value": {
           "code": "603",
           "status": "error",
           "message": "Error returned by the Processor"
          }
         },
         "internal_error": {
          "summary": "Internal Error",
          "description": "Internal server error",
          "value": {
           "code": "999",
           "status": "error",
           "message": "Internal error"
          }
         }
        }
       }
      }
     },
     "502": {
      "description": "Bad Gateway.  No response body is returned.\n"
     },
     "504": {
      "description": "Gateway Timeout.  No response body is returned\n"
     }
    },
    "description": "Cancel a top-up on a physical gift card using the gift card number. Some brands will additionally require a PIN number."
   },
   "post": {
    "operationId": "postPhysicalTopUp",
    "summary": "Top-up Physical Card",
    "tags": [
     "Physical Gift Cards"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/PhysicalTopUpPostRequest"
       },
       "examples": {
        "with_code": {
         "summary": "Physical Top-up with Code",
         "description": "Top-up request with gift card code only (when PIN is not required by brand)",
         "value": {
          "client_request_id": "req-12345-67891",
          "brand": "mock-brand",
          "face_value": {
           "amount": 25,
           "currency": "GBP"
          },
          "code": "6280390102830976",
          "sector": "voluntary-benefits"
         }
        },
        "with_code_and_pin": {
         "summary": "Physical Top-up with Code and PIN",
         "description": "Top-up request using both gift card code and PIN",
         "value": {
          "client_request_id": "req-12345-67890",
          "brand": "mock-brand",
          "face_value": {
           "amount": 22.35,
           "currency": "GBP"
          },
          "code": "6280390102830976",
          "pin": "12562161",
          "sector": "marketplace"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Successful Response",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "code",
          "status",
          "message",
          "data"
         ],
         "properties": {
          "code": {
           "type": "string",
           "minLength": 3,
           "maxLength": 3,
           "const": "000"
          },
          "status": {
           "type": "string",
           "const": "success"
          },
          "message": {
           "type": "string",
           "example": "Card topped up successfully"
          },
          "data": {
           "type": "object",
           "required": [
            "brand",
            "face_value",
            "cost_value",
            "discount",
            "reference"
           ],
           "properties": {
            "brand": {
             "$ref": "#/components/schemas/BrandSlug"
            },
            "code": {
             "type": "string",
             "example": "4444555566667777"
            },
            "pin": {
             "type": "string",
             "example": "1234"
            },
            "face_value": {
             "$ref": "#/components/schemas/MoneyAmount"
            },
            "cost_value": {
             "$ref": "#/components/schemas/MoneyAmount"
            },
            "discount": {
             "$ref": "#/components/schemas/Discount"
            },
            "expiration_date": {
             "$ref": "#/components/schemas/ExpirationDate"
            },
            "serial_number": {
             "$ref": "#/components/schemas/SerialNumber"
            },
            "security_code": {
             "$ref": "#/components/schemas/SecurityCode"
            },
            "reference": {
             "$ref": "#/components/schemas/Reference"
            },
            "float_balance": {
             "$ref": "#/components/schemas/MoneyAmount"
            }
           }
          }
         }
        },
        "examples": {
         "with_code": {
          "summary": "Successful Response - Code",
          "description": "Top-up successful with only gift card code",
          "value": {
           "code": "000",
           "status": "success",
           "message": "Card topped up successfully",
           "data": {
            "brand": "example-brand",
            "code": "ABC1234",
            "face_value": {
             "amount": 100,
             "currency": "GBP"
            },
            "cost_value": {
             "amount": 90,
             "currency": "GBP"
            },
            "discount": 10,
            "reference": "a1395200-ea40-11f0-88f5-c7a4c5716c58",
            "float_balance": {
             "amount": 20763.3,
             "currency": "GBP"
            }
           }
          }
         },
         "with_code_and_pin": {
          "summary": "Successful Response - Code and PIN",
          "description": "Top-up successful with both gift card code and PIN returned",
          "value": {
           "code": "000",
           "status": "success",
           "message": "Card topped up successfully",
           "data": {
            "brand": "example-brand",
            "code": "ABC1234",
            "pin": "12345",
            "face_value": {
             "amount": 100,
             "currency": "GBP"
            },
            "cost_value": {
             "amount": 90,
             "currency": "GBP"
            },
            "discount": 10,
            "reference": "a3e72620-ea45-11f0-8158-adb8121c3859",
            "float_balance": {
             "amount": 20763.3,
             "currency": "GBP"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request. Invalid or missing required parameters.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        },
        "examples": {
         "validation_error": {
          "summary": "Validation Error",
          "description": "Bad request with validation errors",
          "value": {
           "code": "704",
           "status": "error",
           "message": "There were errors validating the request",
           "data": {
            "amount": "The [amount] must be a number"
           }
          }
         },
         "invalid_sector": {
          "summary": "Invalid Sector",
          "description": "Validation error when sector field contains an invalid value",
          "value": {
           "code": "704",
           "status": "error",
           "message": "There were errors validating the request",
           "data": {
            "sector": "The sector [marketplaces] is invalid. Please provide an acceptable one"
           }
          }
         },
         "invalid_face_value_range": {
          "summary": "Invalid Face Value Range",
          "description": "Validation error when face value amount is outside the allowed range for the brand (min and max values are brand-specific)",
          "value": {
           "code": "704",
           "status": "error",
           "message": "The face value must be between [1.00] and [150.00]"
          }
         }
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "422": {
      "description": "Validation error. Request data failed validation rules.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        },
        "examples": {
         "validation_error": {
          "summary": "Validation Error",
          "description": "Request data failed validation rules",
          "value": {
           "code": "433",
           "status": "error",
           "message": "There were errors validating the request",
           "data": {
            "brand": [
             "The brand field is required."
            ],
            "face_value.amount": [
             "The amount must be a positive number."
            ]
           }
          }
         },
         "transaction_type_not_supported": {
          "summary": "Transaction Type Not Supported by Partner",
          "description": "The requested transaction type is not supported by the partner",
          "value": {
           "code": "719",
           "status": "error",
           "message": "The transaction type is not supported by the partner"
          }
         },
         "transaction_type_not_available": {
          "summary": "Transaction Type Not Available for Brand",
          "description": "The requested transaction type is not available for the requested brand",
          "value": {
           "code": "720",
           "status": "error",
           "message": "The transaction type is not available for the requested brand"
          }
         },
         "currency_not_found": {
          "summary": "Currency Not Found",
          "description": "The requested currency was not found",
          "value": {
           "code": "721",
           "status": "error",
           "message": "The requested currency was not found"
          }
         },
         "currency_not_supported_by_brand": {
          "summary": "Currency Not Supported by Brand",
          "description": "The requested currency is not supported by this brand",
          "value": {
           "code": "723",
           "status": "error",
           "message": "The requested currency is not supported by this brand"
          }
         }
        }
       }
      }
     },
     "500": {
      "description": "Internal server error. Error returned by the processor.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        },
        "examples": {
         "processor_error": {
          "summary": "Processor Error",
          "description": "Error returned by the processor",
          "value": {
           "code": "603",
           "status": "error",
           "message": "Error returned by the Processor"
          }
         },
         "internal_error": {
          "summary": "Internal Error",
          "description": "Internal server error",
          "value": {
           "code": "999",
           "status": "error",
           "message": "Internal error"
          }
         }
        }
       }
      }
     },
     "502": {
      "description": "Bad Gateway No response body is returned.\n"
     },
     "504": {
      "description": "Gateway Timeout No response body is returned\n"
     }
    },
    "description": "Top up a physical gift card using the gift card number or serial number.\n\nThe `serial_number` property is required for certain brands using specific processors."
   }
  },
  "/brands": {
   "get": {
    "operationId": "getBrands",
    "summary": "List Brands",
    "tags": [
     "Brand Information"
    ],
    "parameters": [
     {
      "name": "brand",
      "in": "query",
      "required": false,
      "description": "Filter by a specific brand slug",
      "example": "mock-brand",
      "schema": {
       "type": "string",
       "minLength": 1,
       "maxLength": 100,
       "pattern": "^[a-z0-9-]+$"
      }
     },
     {
      "name": "detail",
      "in": "query",
      "required": false,
      "description": "Include detailed brand information",
      "example": true,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "country",
      "in": "query",
      "required": false,
      "description": "Filter brands based on the country, provide the two-character ISO 3166-1 alpha-2 country code (eg. GB, FR, US). Must be uppercase",
      "example": "GB",
      "schema": {
       "$ref": "#/components/schemas/CountryIsoCode"
      }
     },
     {
      "name": "currency",
      "in": "query",
      "required": false,
      "description": "Filter brands based on the currency, please provide the three-character ISO 4217 currency code (eg. GBP, EUR, USD). Must be uppercase",
      "example": "GBP",
      "schema": {
       "$ref": "#/components/schemas/CurrencyIsoCode"
      }
     },
     {
      "name": "category",
      "in": "query",
      "required": false,
      "description": "Filter brands based on the category slug (eg. fashion, gaming)",
      "example": "food-and-drink",
      "schema": {
       "$ref": "#/components/schemas/CategorySlug"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "List of brands with optional filtering and detail",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "code",
          "status",
          "message",
          "data"
         ],
         "properties": {
          "code": {
           "type": "string"
          },
          "status": {
           "type": "string"
          },
          "message": {
           "type": "string"
          },
          "data": {
           "type": "object",
           "properties": {
            "brands": {
             "oneOf": [
              {
               "type": "object",
               "additionalProperties": {
                "$ref": "#/components/schemas/Brand"
               }
              },
              {
               "type": "array",
               "items": {
                "$ref": "#/components/schemas/Brand"
               },
               "maxItems": 0
              }
             ]
            },
            "last_refreshed_at": {
             "type": "string",
             "format": "date-time"
            }
           }
          }
         }
        },
        "examples": {
         "brand_with_detail": {
          "summary": "Single Brand with Detail",
          "description": "Get detailed information for a specific brand",
          "value": {
           "status": "success",
           "code": "000",
           "message": "Brand information for [example-brand] with details",
           "data": {
            "brands": {
             "example-brand": {
              "slug": "example-brand",
              "name": "Example Brand",
              "type": "gift-card",
              "status": {
               "code": "ENABLED"
              },
              "currency": "GBP",
              "discount": 2.5,
              "last_updated": "2024-01-15T10:30:00+00:00",
              "transaction_types": [
               "cancelled_digital_issuance",
               "digital_issuance",
               "physical_activation",
               "physical_top_up",
               "balance_check"
              ],
              "delivery_methods": [
               "code",
               "url",
               "wrapped"
              ],
              "countries_served": [
               "GB"
              ],
              "gc_pool": false,
              "async_only": false,
              "categories": [
               "beauty",
               "sports"
              ],
              "vat": {
               "exempt": false,
               "type": "MPV",
               "rate": "5.00"
              },
              "digital_face_value_limits": {
               "lower": 10,
               "upper": 2000,
               "minor_unit": 0.01
              },
              "physical_face_value_limits": {
               "lower": 5,
               "upper": 500
              },
              "shipping_methods": [
               {
                "standard": {
                 "identifier": "standard",
                 "description": "First Class",
                 "cost": {
                  "currency": "GBP",
                  "amount": 1.3
                 }
                }
               },
               {
                "standard-signed": {
                 "identifier": "standard-signed",
                 "description": "First Class Signed For",
                 "cost": {
                  "currency": "GBP",
                  "amount": 2.42
                 }
                }
               }
              ],
              "detail": {
               "assets": {
                "logo_url": "https://assets.example.com/logo.jpg",
                "gift_card_url": "https://assets.example.com/card.jpg"
               },
               "balance_enquiry_url": "https://example.com/balance",
               "barcode": "C128",
               "description": "Brand description and information",
               "expiry": "Expiry date information",
               "faq_url": "https://example.com/faq",
               "redemption_instructions_url": "https://example.com/redeem",
               "redemption_methods": [
                "Online",
                "Instore"
               ],
               "terms_and_conditions_url": "https://example.com/terms",
               "website_url": "https://example.com"
              }
             }
            },
            "last_refreshed_at": "2024-01-15T10:30:00+00:00"
           }
          }
         },
         "all_brands_with_detail": {
          "summary": "All Brands with Detail",
          "description": "Get detailed information for all available brands",
          "value": {
           "status": "success",
           "code": "000",
           "message": "Brands information with details",
           "data": {
            "brands": {
             "example-brand-one": {
              "slug": "example-brand-one",
              "name": "Example Brand One",
              "type": "gift-card",
              "status": {
               "code": "ENABLED"
              },
              "currency": "EUR",
              "discount": 3,
              "last_updated": "2024-01-15T10:30:00+00:00",
              "transaction_types": [
               "cancelled_digital_issuance",
               "digital_issuance"
              ],
              "delivery_methods": [
               "code",
               "url"
              ],
              "countries_served": [
               "FR",
               "DE",
               "ES"
              ],
              "gc_pool": false,
              "async_only": true,
              "digital_face_value_limits": {
               "lower": 10,
               "upper": 2000,
               "minor_unit": 0.01
              },
              "categories": [
               "toys"
              ],
              "detail": {
               "assets": {
                "logo_url": "https://assets.example.com/brand-one-logo.jpg",
                "gift_card_url": "https://assets.example.com/brand-one-card.jpg"
               },
               "barcode": "NONE",
               "description": "Brand one description",
               "expiry": "Expiry information",
               "redemption_methods": [
                "Online"
               ],
               "website_url": "https://example.com"
              }
             },
             "example-brand-two": {
              "slug": "example-brand-two",
              "name": "Example Brand Two",
              "type": "gift-card",
              "status": {
               "code": "ENABLED"
              },
              "currency": "GBP",
              "discount": 6,
              "last_updated": "2024-01-15T10:30:00+00:00",
              "transaction_types": [
               "cancelled_digital_issuance",
               "digital_issuance"
              ],
              "delivery_methods": [
               "code",
               "url"
              ],
              "countries_served": [
               "GB"
              ],
              "gc_pool": true,
              "async_only": false,
              "denominations": [
               "10.00",
               "20.00",
               "25.00",
               "50.00",
               "100.00"
              ],
              "digital_denominations": [
               10,
               20,
               25,
               50,
               100
              ],
              "categories": [
               "fashion"
              ],
              "detail": {
               "assets": {
                "logo_url": "https://assets.example.com/brand-two-logo.jpg",
                "gift_card_url": "https://assets.example.com/brand-two-card.jpg"
               },
               "barcode": "C128",
               "description": "Brand two description",
               "expiry": "24 months from date of activation",
               "redemption_methods": [
                "Online"
               ],
               "website_url": "https://example.com"
              }
             },
             "example-brand-three": {
              "slug": "example-brand-three",
              "name": "Example Brand Three",
              "type": "choice-link",
              "status": {
               "code": "DISABLED",
               "reason": "Relationship disabled by brand"
              },
              "currency": "GBP",
              "discount": 2,
              "last_updated": "2024-01-15T10:30:00+00:00",
              "transaction_types": [
               "cancelled_digital_issuance",
               "digital_issuance"
              ],
              "delivery_methods": [
               "url"
              ],
              "countries_served": [
               "GB"
              ],
              "gc_pool": false,
              "async_only": false,
              "digital_face_value_limits": {
               "lower": 50,
               "upper": 250,
               "minor_unit": 0.01
              },
              "categories": [
               "department-store"
              ],
              "choices": [
               "example-choice-brand-one",
               "example-choice-brand-two",
               "example-choice-brand-three"
              ],
              "detail": {
               "assets": {
                "logo_url": "https://assets.example.com/brand-three-logo.jpg",
                "gift_card_url": "https://assets.example.com/brand-three-card.jpg"
               },
               "barcode": "C128",
               "description": "Brand three description",
               "expiry": "24 consecutive months of non use",
               "redemption_methods": [
                "Instore"
               ],
               "website_url": "https://example.com"
              }
             }
            },
            "last_refreshed_at": "2024-01-15T10:30:00+00:00"
           }
          }
         },
         "brands_without_detail": {
          "summary": "Brands Without Detail",
          "description": "Get basic information for all brands without detailed info",
          "value": {
           "status": "success",
           "code": "000",
           "message": "Brands information",
           "data": {
            "brands": {
             "example-brand-one": {
              "slug": "example-brand-one",
              "name": "Example Brand One",
              "type": "gift-card",
              "status": {
               "code": "ENABLED"
              },
              "currency": "USD",
              "discount": 3,
              "last_updated": "2024-01-15T10:30:00+00:00",
              "transaction_types": [
               "cancelled_digital_issuance",
               "digital_issuance"
              ],
              "delivery_methods": [
               "code",
               "url",
               "wrapped"
              ],
              "countries_served": [
               "US"
              ],
              "gc_pool": false,
              "async_only": false,
              "digital_face_value_limits": {
               "lower": 10,
               "upper": 2000,
               "minor_unit": 0.01
              },
              "categories": [
               "home",
               "gaming"
              ]
             },
             "example-brand-two": {
              "slug": "example-brand-two",
              "name": "Example Brand Two",
              "type": "gift-card",
              "status": {
               "code": "ENABLED"
              },
              "currency": "AUD",
              "discount": 6,
              "last_updated": "2024-01-15T10:30:00+00:00",
              "transaction_types": [
               "cancelled_digital_issuance",
               "digital_issuance"
              ],
              "delivery_methods": [
               "code",
               "url"
              ],
              "countries_served": [
               "AU"
              ],
              "gc_pool": true,
              "async_only": false,
              "denominations": [
               "9.99",
               "19.99",
               "49.99"
              ],
              "digital_denominations": [
               9.99,
               19.99,
               49.99
              ],
              "categories": [
               "beauty",
               "fashion"
              ]
             }
            },
            "last_refreshed_at": "2024-01-15T10:30:00+00:00"
           }
          }
         },
         "brands_filtered_by_category": {
          "summary": "Brands Filtered by Category",
          "description": "Get brands filtered by country and category",
          "value": {
           "status": "success",
           "code": "000",
           "message": "Brands information, filtered by category [fashion]",
           "data": {
            "brands": {
             "example-brand-one": {
              "slug": "example-brand-one",
              "name": "Example Brand One",
              "type": "gift-card",
              "status": {
               "code": "ENABLED"
              },
              "currency": "GBP",
              "discount": 3,
              "last_updated": "2024-01-15T10:30:00+00:00",
              "transaction_types": [
               "cancelled_digital_issuance",
               "digital_issuance"
              ],
              "delivery_methods": [
               "code",
               "url"
              ],
              "countries_served": [
               "GB"
              ],
              "gc_pool": false,
              "async_only": true,
              "digital_face_value_limits": {
               "lower": 10,
               "upper": 2000,
               "minor_unit": 0.01
              },
              "categories": [
               "fashion",
               "other"
              ]
             },
             "example-brand-two": {
              "slug": "example-brand-two",
              "name": "Example Brand Two",
              "type": "gift-card",
              "status": {
               "code": "ENABLED"
              },
              "currency": "GBP",
              "discount": 6,
              "last_updated": "2024-01-15T10:30:00+00:00",
              "transaction_types": [
               "cancelled_digital_issuance",
               "digital_issuance"
              ],
              "delivery_methods": [
               "code",
               "url"
              ],
              "countries_served": [
               "GB"
              ],
              "gc_pool": true,
              "async_only": false,
              "denominations": [
               "10.00",
               "20.00",
               "25.00",
               "50.00"
              ],
              "digital_denominations": [
               10,
               20,
               25,
               50,
               100
              ],
              "categories": [
               "fashion"
              ]
             }
            },
            "last_refreshed_at": "2024-01-15T10:30:00+00:00"
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/UnprocessableEntity"
        },
        "examples": {
         "invalid_currency": {
          "summary": "Invalid Currency",
          "value": {
           "status": "error",
           "code": "433",
           "message": "There were errors validating the request",
           "data": {
            "currency": [
             "The requested currency is not available."
            ]
           }
          }
         },
         "invalid_brand": {
          "summary": "Invalid Brand slug",
          "value": {
           "status": "error",
           "code": "433",
           "message": "There were errors validating the request",
           "data": {
            "brand": [
             "The requested brand is not available."
            ]
           }
          }
         }
        }
       }
      }
     }
    },
    "description": "Provides a list of brands and basic information about them. \nIt is expected that this call will be cached locally by the caller. We recommend fetching the data once per day."
   }
  },
  "/check-floats": {
   "get": {
    "operationId": "getCheckFloats",
    "summary": "Check Floats",
    "tags": [
     "Floats"
    ],
    "parameters": [
     {
      "name": "currency",
      "in": "query",
      "required": false,
      "description": "Optional filter to return floats for a specific currency only. Provide the three-character ISO 4217 currency code (eg. GBP, EUR, USD). Must be uppercase.",
      "example": "GBP",
      "schema": {
       "$ref": "#/components/schemas/CurrencyIsoCode"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successfully retrieved float balances",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "status",
          "code",
          "data"
         ],
         "properties": {
          "status": {
           "type": "string",
           "const": "success",
           "description": "Status of the response"
          },
          "code": {
           "type": "string",
           "description": "Response code",
           "example": "000"
          },
          "data": {
           "type": "object",
           "required": [
            "floats",
            "last_refreshed_at"
           ],
           "properties": {
            "floats": {
             "type": "object",
             "description": "Float balances grouped by currency code",
             "propertyNames": {
              "$ref": "#/components/schemas/CurrencyIsoCode"
             },
             "additionalProperties": {
              "type": "object",
              "description": "Float types available for this currency",
              "additionalProperties": {
               "type": "object",
               "required": [
                "available_balance",
                "pending_payments"
               ],
               "properties": {
                "available_balance": {
                 "$ref": "#/components/schemas/MoneyAmount"
                },
                "pending_payments": {
                 "$ref": "#/components/schemas/MoneyAmount"
                }
               }
              }
             }
            },
            "last_refreshed_at": {
             "type": "string",
             "format": "date-time",
             "description": "ISO 8601 timestamp of when the float data was last refreshed",
             "example": "2024-01-15T10:30:00+00:00"
            }
           }
          }
         }
        },
        "examples": {
         "without_currency": {
          "summary": "Without Currency",
          "description": "Returns all available floats across all currencies for the authenticated partner",
          "value": {
           "status": "success",
           "code": "000",
           "data": {
            "floats": {
             "GBP": {
              "universal-float": {
               "available_balance": {
                "amount": 50000,
                "currency": "GBP"
               },
               "pending_payments": {
                "amount": 2000.02,
                "currency": "GBP"
               }
              },
              "example-brand": {
               "available_balance": {
                "amount": 10000,
                "currency": "GBP"
               },
               "pending_payments": {
                "amount": 0.01,
                "currency": "GBP"
               }
              }
             },
             "USD": {
              "universal-float": {
               "available_balance": {
                "amount": 20000,
                "currency": "USD"
               },
               "pending_payments": {
                "amount": 0.01,
                "currency": "USD"
               }
              }
             },
             "EUR": {
              "universal-float": {
               "available_balance": {
                "amount": 35000.5,
                "currency": "EUR"
               },
               "pending_payments": {
                "amount": 500,
                "currency": "EUR"
               }
              },
              "another-brand": {
               "available_balance": {
                "amount": 5000,
                "currency": "EUR"
               },
               "pending_payments": {
                "amount": 250,
                "currency": "EUR"
               }
              }
             }
            },
            "last_refreshed_at": "2024-01-15T10:30:00+00:00"
           }
          }
         },
         "with_currency": {
          "summary": "With Currency",
          "description": "Returns floats for a specific currency when the currency parameter is provided",
          "value": {
           "status": "success",
           "code": "000",
           "data": {
            "floats": {
             "GBP": {
              "universal-float": {
               "available_balance": {
                "amount": 50000,
                "currency": "GBP"
               },
               "pending_payments": {
                "amount": 2000.02,
                "currency": "GBP"
               }
              },
              "example-brand": {
               "available_balance": {
                "amount": 10000,
                "currency": "GBP"
               },
               "pending_payments": {
                "amount": 0.01,
                "currency": "GBP"
               }
              },
              "example-brand-company": {
               "available_balance": {
                "amount": 7500.5,
                "currency": "GBP"
               },
               "pending_payments": {
                "amount": 100,
                "currency": "GBP"
               }
              }
             }
            },
            "last_refreshed_at": "2024-01-15T10:30:00+00:00"
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "422": {
      "description": "Validation error - invalid currency code provided",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "status",
          "code",
          "message"
         ],
         "properties": {
          "status": {
           "type": "string",
           "const": "error"
          },
          "code": {
           "type": "string",
           "description": "Error code",
           "example": "721"
          },
          "message": {
           "type": "string",
           "description": "Error message",
           "example": "The requested currency was not found"
          }
         }
        },
        "examples": {
         "invalid_currency": {
          "summary": "Invalid Currency Code",
          "description": "The provided currency code is not recognized or not available in the system",
          "value": {
           "status": "error",
           "code": "721",
           "message": "The requested currency was not found"
          }
         }
        }
       }
      }
     }
    },
    "description": "Request your current Monies on Account (MOA) and Credit balance information across all configured floats.\n\nFloats represent the available funds in your account and can be scoped to:\n- **Universal Float**: Partner-level float available for all brands\n- **Brand-specific Float**: Float restricted to a specific brand\n- **Brand Company Float**: Float for a specific brand company relationship\n\nEach float returns:\n- **available_balance**: The current funds available for transactions\n- **pending_payments**: The total amount of payments that have been requested but not yet processed\n\n**Currency Filter:**\nWhen the optional `currency` parameter is provided, only floats for that specific currency will be returned. Without the parameter, all floats across all currencies are returned.\n\n**Caching:**\nFloat data is cached for 15 minutes on the server side. The `last_refreshed_at` timestamp indicates when the data was last calculated. It is expected that this endpoint will be called periodically to monitor account balances.\n\n**International Payments:**\nFloats that are mapped and enabled for international payment sales will be excluded from the response."
   }
  },
  "/check-stock": {
   "get": {
    "operationId": "getCheckStock",
    "summary": "Digital Check Stock",
    "description": "Check available stock levels for digital gift card brands held in the GC Pool. Use this endpoint when the target brand has `gc_pool` set to `true` in the GET /api/v2/brands endpoint. This endpoint should not be treated as a general availability endpoint for all digital brands and may not apply when `gc_pool` is not enabled for the brand.",
    "tags": [
     "Digital Gift Cards"
    ],
    "parameters": [
     {
      "name": "brand",
      "in": "query",
      "required": false,
      "description": "Brand identifier/slug",
      "example": "example-brand",
      "schema": {
       "$ref": "#/components/schemas/BrandSlug"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successfully retrieved stock levels",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "status",
          "code",
          "message",
          "data"
         ],
         "properties": {
          "status": {
           "type": "string",
           "const": "success",
           "description": "Status of the response"
          },
          "code": {
           "type": "string",
           "description": "Response code",
           "example": "000"
          },
          "message": {
           "type": "string",
           "description": "Human-readable response message"
          },
          "data": {
           "type": "object",
           "description": "Stock levels grouped by brand slug. Each brand contains denominations as key-value pairs where the key is the denomination amount as a decimal string (e.g., \"10.00\", \"25.00\") and the value is the stock status (e.g., \"OUT\" for out of stock, or a quantity number as a string).",
           "additionalProperties": {
            "oneOf": [
             {
              "type": "object",
              "description": "Denominations available for this brand",
              "additionalProperties": {
               "type": "string",
               "description": "Stock status or quantity for this denomination (e.g., \"OUT\" or quantity as string)",
               "example": "OUT"
              }
             },
             {
              "type": "array",
              "description": "Empty array when brand has no stock",
              "items": {},
              "maxItems": 0
             }
            ]
           }
          }
         }
        },
        "examples": {
         "all_brands": {
          "summary": "All Brands (No Parameters)",
          "description": "Returns stock levels for all available vault brands when no brand parameter is provided",
          "value": {
           "status": "success",
           "code": "000",
           "message": "Stock levels for all Vault brands",
           "data": {
            "fabyouless": {
             "19.95": "OUT"
            },
            "sports-direct": {
             "5.00": "OUT",
             "10.00": "OUT",
             "25.00": "OUT",
             "50.00": "OUT",
             "100.00": "OUT"
            },
            "nowtv-sky-sports": {
             "10.00": "OUT",
             "25.00": "OUT"
            },
            "john-lewis": {
             "25.00": "OUT",
             "50.00": "OUT",
             "100.00": "OUT",
             "200.00": "OUT"
            }
           }
          }
         },
         "with_brand": {
          "summary": "With Brand",
          "description": "Returns stock levels for a specific brand when the brand parameter is provided",
          "value": {
           "status": "success",
           "code": "000",
           "message": "Stock levels for [brand-slug]",
           "data": {
            "sports-direct": {
             "5.00": "OUT",
             "10.00": "OUT",
             "25.00": "OUT",
             "50.00": "OUT",
             "100.00": "OUT"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad request. Invalid or missing required parameters.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/BadRequest"
        },
        "examples": {
         "invalid_request": {
          "summary": "Invalid Request",
          "description": "The request is malformed or contains invalid parameters",
          "value": {
           "status": "error",
           "code": "714",
           "message": "There were errors validating the request"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized. Invalid authentication or brand access denied.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Unauthorized"
        },
        "examples": {
         "invalid_brand_access": {
          "summary": "Invalid Brand Access",
          "description": "The requested brand is not available or not accessible to the authenticated partner",
          "value": {
           "status": "error",
           "code": "434",
           "message": "The requested brand is not available"
          }
         },
         "invalid_authentication": {
          "summary": "Invalid Authentication",
          "description": "Authentication failed due to invalid API key or signature",
          "value": {
           "status": "error",
           "code": "434",
           "message": "Authentication failed"
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Validation error. Request data failed validation rules.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/UnprocessableEntity"
        },
        "examples": {
         "brand_not_supported": {
          "summary": "Brand Not Supported",
          "description": "The requested brand does not support the check-stock endpoint (not a vault brand)",
          "value": {
           "status": "error",
           "code": "433",
           "message": "There were errors validating the request",
           "data": {
            "brand": "Service [check-stock] is not supported for brand [brand-slug]"
           }
          }
         },
         "invalid_brand_slug": {
          "summary": "Invalid Brand Slug",
          "description": "The provided brand slug does not exist or is not available",
          "value": {
           "status": "error",
           "code": "433",
           "message": "There were errors validating the request",
           "data": {
            "brand": "The requested brand is not available"
           }
          }
         }
        }
       }
      }
     }
    }
   }
  },
  "/digital/order-status": {
   "get": {
    "operationId": "getDigitalOrderStatus",
    "summary": "Digital Order Status",
    "tags": [
     "Digital Gift Cards"
    ],
    "parameters": [
     {
      "name": "reference",
      "in": "query",
      "required": false,
      "schema": {
       "$ref": "#/components/schemas/Reference"
      },
      "description": "The unique reference (UUID) returned when the order was created.  Cannot be used together with original_client_request_id.",
      "example": "019ade93-d513-776b-92a2-b6323329b661"
     },
     {
      "name": "original_client_request_id",
      "in": "query",
      "required": false,
      "schema": {
       "$ref": "#/components/schemas/OriginalClientRequestId"
      },
      "description": "The unique identifier (client_request_id) that you provided when creating the order. Cannot be used together with reference.",
      "example": "req-12345-67890"
     }
    ],
    "responses": {
     "200": {
      "description": "Order status retrieved successfully",
      "headers": {
       "X-RateLimit-Limit": {
        "schema": {
         "type": "integer"
        },
        "description": "The number of requests you are allowed to make to this endpoint within a 60 second window"
       },
       "X-RateLimit-Remaining": {
        "schema": {
         "type": "integer"
        },
        "description": "The number of requests you have remaining within your 60 second window"
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/DigitalOrderStatusResponse"
        },
        "examples": {
         "successful_url_order": {
          "summary": "Order successful - URL delivery",
          "description": "Response when the order has completed successfully with URL delivery method",
          "value": {
           "code": "000",
           "status": "success",
           "message": "Order has finished processing",
           "data": {
            "reference": "019ade93-d513-776b-92a2-b6323329b661",
            "status": "SUCCESS",
            "brand": "fixed-async-uk",
            "url": "https://example.com",
            "face_value": {
             "amount": 41,
             "currency": "GBP"
            },
            "cost_value": {
             "amount": 36.9,
             "currency": "GBP"
            },
            "discount": 10,
            "expiration_date": "2027-12-02T23:59:59+00:00"
           }
          }
         },
         "successful_code_order": {
          "summary": "Order successful - Code delivery",
          "description": "Response when the order has completed successfully with code delivery method",
          "value": {
           "code": "000",
           "status": "success",
           "message": "Order has finished processing",
           "data": {
            "reference": "ab8044e0-82cb-11e9-8395-f18b28b35eef",
            "status": "SUCCESS",
            "brand": "async-mock-brand",
            "code": "97801149999107077547",
            "pin": "7547",
            "face_value": {
             "amount": 5,
             "currency": "GBP"
            },
            "cost_value": {
             "amount": 4.5,
             "currency": "GBP"
            },
            "expiration_date": "2024-05-30T11:12:49+00:00",
            "barcode": {
             "type": "C128",
             "string": "97801149999107077547",
             "url": "https://example.com?type=C128&code=97801149999107077547"
            }
           }
          }
         },
         "pending_order": {
          "summary": "Order still processing",
          "description": "Response when checking by reference and the order is still being processed",
          "value": {
           "code": "000",
           "status": "success",
           "message": "Order is still processing",
           "data": {
            "reference": "ab8044e0-82cb-11e9-8395-f18b28b35eef",
            "status": "PENDING"
           }
          }
         },
         "failed_order": {
          "summary": "Order failed",
          "description": "Response when the order has failed to process",
          "value": {
           "code": "000",
           "status": "success",
           "message": "Order failed to process",
           "data": {
            "reference": "019ade93-d513-776b-92a2-b6323329b661",
            "status": "ERROR"
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "$ref": "#/components/responses/BadRequest"
     },
     "401": {
      "$ref": "#/components/responses/Unauthorized"
     },
     "422": {
      "description": "Validation error. Request data failed validation rules.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        },
        "examples": {
         "validation_error_sale_not_found": {
          "summary": "Sale not found",
          "description": "Error when the order cannot be found",
          "value": {
           "status": "error",
           "code": "433",
           "message": "There were errors validating the request",
           "data": {
            "reference": "The sale could not be found."
           }
          }
         },
         "validation_error_both_parameters": {
          "summary": "Both parameters provided",
          "description": "Error when both reference and original_client_request_id are provided",
          "value": {
           "status": "error",
           "code": "433",
           "message": "There were errors validating the request",
           "data": {
            "reference": [
             "The reference field is prohibited when original_client_request_id is present."
            ],
            "original_client_request_id": [
             "The original client request id field is prohibited when reference is present."
            ]
           }
          }
         },
         "validation_error_no_parameters": {
          "summary": "No parameters provided",
          "description": "Error when neither reference nor original_client_request_id is provided",
          "value": {
           "status": "error",
           "code": "433",
           "message": "There were errors validating the request",
           "data": {
            "reference": [
             "At least one of reference or original_client_request_id must be provided."
            ]
           }
          }
         },
         "validation_error_invalid_reference": {
          "summary": "Invalid reference format",
          "description": "Error when reference is not a valid UUID",
          "value": {
           "status": "error",
           "code": "433",
           "message": "There were errors validating the request",
           "data": {
            "reference": [
             "The reference must be a valid UUID."
            ]
           }
          }
         }
        }
       }
      }
     },
     "429": {
      "$ref": "#/components/responses/TooManyRequests"
     }
    },
    "description": "Retrieve details for an existing asynchronous digital issuance request."
   }
  },
  "/float/transfer-requests": {
   "get": {
    "operationId": "getFloatTransferRequests",
    "summary": "Get Float Transfer Requests",
    "tags": [
     "Floats"
    ],
    "parameters": [
     {
      "name": "float",
      "in": "query",
      "required": false,
      "description": "Specifies the target float (e.g., \"universal-float\", \"amazon\", \"reward-pass\")",
      "example": "universal-float",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "currency",
      "in": "query",
      "required": false,
      "description": "Optional filter to return transfer requests for a specific currency only. Provide the three-character ISO 4217 currency code (eg. GBP, EUR, USD). Must be uppercase.",
      "example": "GBP",
      "schema": {
       "$ref": "#/components/schemas/CurrencyIsoCode"
      }
     },
     {
      "name": "payment_reference",
      "in": "query",
      "required": false,
      "description": "The payment reference to filter transfer requests",
      "example": "BUYER-PROVIDED-REF",
      "schema": {
       "type": "string",
       "maxLength": 18
      }
     },
     {
      "name": "start_date",
      "in": "query",
      "required": false,
      "description": "Beginning of the date range in ISO 8601 format",
      "example": "2025-10-12",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "end_date",
      "in": "query",
      "required": false,
      "description": "End of the date range in ISO 8601 format",
      "example": "2025-10-16",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "status",
      "in": "query",
      "required": false,
      "description": "Filter for transfer request state",
      "example": "pending",
      "schema": {
       "type": "string",
       "enum": [
        "pending",
        "approved",
        "approved_edited",
        "removed",
        "cancelled"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Successfully retrieved transfer requests",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "status",
          "code",
          "data"
         ],
         "properties": {
          "status": {
           "type": "string",
           "const": "success",
           "description": "Status of the response"
          },
          "code": {
           "type": "string",
           "description": "Response code",
           "example": "000"
          },
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "required": [
             "float",
             "requested",
             "approved",
             "payment_reference",
             "status",
             "created_at"
            ],
            "properties": {
             "float": {
              "type": "string",
              "description": "The float identifier",
              "example": "universal-float"
             },
             "requested": {
              "type": "object",
              "required": [
               "currency",
               "amount"
              ],
              "properties": {
               "currency": {
                "$ref": "#/components/schemas/CurrencyIsoCode"
               },
               "amount": {
                "type": "string"
               }
              }
             },
             "approved": {
              "type": "object",
              "nullable": true,
              "description": "Approved amount (null if pending or cancelled)",
              "required": [
               "currency",
               "amount"
              ],
              "properties": {
               "currency": {
                "$ref": "#/components/schemas/CurrencyIsoCode"
               },
               "amount": {
                "type": "string"
               }
              }
[...]
